schema/rest/competitor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.oddin.gg/v1" xmlns="http://schemas.oddin.gg/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="types/sport.xsd"/>
    <xs:include schemaLocation="types/team.xsd"/>

    <xs:element name="competitor_profile" type="competitorProfileEndpoint"/>
    <xs:complexType name="competitorProfileEndpoint">
        <xs:sequence>
            <xs:element type="teamExtended" name="competitor" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
