schema/rest/player.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.oddin.gg/v1" xmlns="http://schemas.oddin.gg/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="types/player.xsd"/>

    <xs:element name="player_profile" type="playerProfileEndpoint"/>
    <xs:complexType name="playerProfileEndpoint">
        <xs:sequence>
            <xs:element type="player" name="player" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
