schema/rest/replay_status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.oddin.gg/v1" xmlns="http://schemas.oddin.gg/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="player_status" type="replayStatusEndpoint"/>
    <xs:complexType name="replayStatusEndpoint">
        <xs:attribute name="status" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>
