schema/rest/sports.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.oddin.gg/v1" xmlns="http://schemas.oddin.gg/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="types/sport_extended.xsd"/>

    <xs:element name="sports" type="sportsEndpoint"/>
    <xs:complexType name="sportsEndpoint">
        <xs:sequence>
            <xs:element type="sportExtended" name="sport" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>
