schema/rest/tournaments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.oddin.gg/v1" xmlns="http://schemas.oddin.gg/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="types/tournament.xsd"/>

    <xs:element name="tournaments" type="datetournaments"/>
    <xs:complexType name="datetournaments">
        <xs:sequence>
            <xs:element type="tournamentExtended" name="tournament" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>
