schema/feed/bet_cancel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="types.xsd"/>
    <xs:element name="bet_cancel">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="market" type="market" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="messageAttributes"/>
            <xs:attribute name="start_time" type="xs:long"/>
            <xs:attribute name="end_time" type="xs:long"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
