schema/feed/rollback_bet_cancel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="types.xsd"/>
    <xs:element name="rollback_bet_cancel">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="market" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attributeGroup ref="marketAttributes"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="messageAttributes"/>
            <xs:attribute name="start_time" type="xs:long"/>
            <xs:attribute name="end_time" type="xs:long"/>
        </xs:complexType>
    </xs:element>
</xs:schema>