schema/feed/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="betSettlementMarket">
        <xs:choice>
            <xs:element name="outcome" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="id" type="outcomeId" use="required"/>
                    <xs:attribute name="result" type="result" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:choice>

        <xs:attributeGroup ref="marketAttributes"/>
    </xs:complexType>

    <xs:simpleType name="outcomeId">
        <xs:union memberTypes="xs:anyURI xs:long"/>
    </xs:simpleType>

    <xs:attributeGroup name="messageAttributes">
        <xs:attribute name="product" type="xs:int" use="required"/>
        <xs:attribute name="event_id" type="xs:string" use="required"/>
        <xs:attribute name="timestamp" type="xs:long" use="required"/>
        <xs:attribute name="request_id" type="xs:long" use="optional"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="marketAttributes">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="specifiers" type="xs:string"/>
    </xs:attributeGroup>

    <xs:simpleType name="result">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0">
                <xs:annotation>
                    <xs:documentation>LOST</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>WON</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="-1">
                <xs:annotation>
                    <xs:documentation>UNDECIDED_YET</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="market">
        <xs:attributeGroup ref="marketAttributes"/>
        <xs:attribute name="void_reason" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="sportEventStatus">
        <xs:sequence>
            <xs:element name="period_scores" type="periodscoresType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="scoreboard" type="scoreboard" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>

        <xs:attribute name="status" type="eventStatusStatus" use="required"/>
        <xs:attribute name="match_status" type="xs:int" use="required"/>
        <xs:attribute name="home_score" type="xs:decimal" use="optional"/>
        <xs:attribute name="away_score" type="xs:decimal" use="optional"/>
        <xs:attribute name="scoreboard_available" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <xs:complexType name="scoreboard">
        <xs:attribute name="current_ct_team" type="xs:int" use="optional"/>
        <xs:attribute name="home_won_rounds" type="xs:int" use="optional"/>
        <xs:attribute name="away_won_rounds" type="xs:int" use="optional"/>
        <xs:attribute name="current_round" type="xs:int" use="optional"/>
        <xs:attribute name="home_kills" type="xs:int" use="optional"/>
        <xs:attribute name="away_kills" type="xs:int" use="optional"/>
        <xs:attribute name="home_destroyed_turrets" type="xs:int" use="optional"/>
        <xs:attribute name="away_destroyed_turrets" type="xs:int" use="optional"/>
        <xs:attribute name="home_gold" type="xs:int" use="optional"/>
        <xs:attribute name="away_gold" type="xs:int" use="optional"/>
        <xs:attribute name="home_destroyed_towers" type="xs:int" use="optional"/>
        <xs:attribute name="home_goals" type="xs:int" use="optional"/>
        <xs:attribute name="away_goals" type="xs:int" use="optional"/>
    </xs:complexType>

    <xs:complexType name="periodscoresType">
        <xs:sequence>
            <xs:element name="period_score" type="periodScoreType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="periodScoreType">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="match_status_code" type="xs:int" use="required"/>
        <xs:attribute name="number" type="xs:int" use="required"/>
        <xs:attribute name="home_score" type="xs:decimal" use="required"/>
        <xs:attribute name="away_score" type="xs:decimal" use="required"/>
        <xs:attribute name="home_won_rounds" type="xs:decimal" use="optional"/>
        <xs:attribute name="away_won_rounds" type="xs:decimal" use="optional"/>
        <xs:attribute name="home_kills" type="xs:decimal" use="optional"/>
        <xs:attribute name="away_kills" type="xs:decimal" use="optional"/>
        <xs:attribute name="home_goals" type="xs:decimal" use="optional"/>
        <xs:attribute name="away_goals" type="xs:decimal" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="eventStatusStatus">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0">
                <xs:annotation>
                    <xs:documentation>NOT_STARTED</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>LIVE</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>CLOSED</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>CANCELLED</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="oddsChangeMarket">
        <xs:sequence>
            <xs:element name="outcome" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="id" type="outcomeId" use="required"/>
                    <xs:attribute name="odds" type="xs:double"/>
                    <xs:attribute name="probabilities" type="xs:double"/>
                    <xs:attribute name="active" type="outcomeActive"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>

        <xs:attributeGroup ref="marketAttributes"/>
        <xs:attribute name="status" type="marketStatus"/>
        <xs:attribute name="favourite" type="favouriteType" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="favouriteType">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>YES</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="outcomeActive">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>ACTIVE</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0">
                <xs:annotation>
                    <xs:documentation>INACTIVE</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="marketStatus">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>ACTIVE</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0">
                <xs:annotation>
                    <xs:documentation>INACTIVE</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="-1">
                <xs:annotation>
                    <xs:documentation>SUSPENDED</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="-2">
                <xs:annotation>
                    <xs:documentation>HANDED_OVER</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="-3">
                <xs:annotation>
                    <xs:documentation>SETTLED</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="-4">
                <xs:annotation>
                    <xs:documentation>CANCELLED</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="changeType">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>NEW</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>DATETIME</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>CANCELLED</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>COVERAGE</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="106">
                <xs:annotation>
                    <xs:documentation>STREAM_URL_CHANGED</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
