schema/rest/types/player.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="urn.xsd"/>
    <xs:include schemaLocation="sport.xsd"/>

    <xs:complexType name="player">
        <xs:attribute type="playerUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="sportUrn" name="sport" use="required"/>
        <xs:attribute type="xs:string" name="full_name"/>
    </xs:complexType>
</xs:schema>
