schema/rest/types/sport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="urn.xsd"/>

    <xs:complexType name="sport">
        <xs:attribute type="sportEventUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="abbreviation" use="required"/>
    </xs:complexType>
</xs:schema>
